:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General container styling */
.container {
  max-width: 600px;
  margin: 0 auto; /* Center the container */
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Heading styling */
.heading {
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Input field styling */
input[type="text"] {
  width: calc(100% - 16px);
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="number"] {
  width: calc(100% - 16px);
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Image styling */
.example-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Button group styling */
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Button styling */
.button {
  flex: 1;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
}

.next-button{
  background-color: green;
}

.skip-button {
  background-color: #dc3545;
}

.skip-button:hover {
  background-color: #c82333;
}

.button svg {
  margin-left: 5px;
}


/* Progress bar styling - Fixed at the top */
.progress-bar-container {
  position: fixed; /* Keeps it fixed at the top */
  top: 0; /* Aligns it at the very top */
  left: 0; /* Ensures it starts from the left */
  width: 100%; /* Full width */
  height: 15px; /* Keeps the same height */
  background-color: #e0e0e0;
  overflow: hidden;
  z-index: 1000; /* Ensures it's always on top of other elements */
}

.progress-bar {
  height: 100%;
  background-color: #28a745;
  transition: width 0.3s ease-in-out;
}
