w/* App.css */

/* Base styles for container */
.container {
  /* Instead of a fixed width, use a relative width that adjusts on mobile */
  width: auto;
  font-family: Arial, sans-serif;
  /* background-color: pink; */
  border-radius: 8px;
  margin: 0px;
  padding: 0px;
}

.heading {
  font-size: 1.2rem;
}

.button-group {
  flex-wrap: wrap; /* If you want buttons to stack on very small screens */
  gap: 10px;
}
/* Heading styling */
.heading {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

/* Labels and inputs */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 80%;
  height: 90px;
  font-size: 2rem;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
}
/* Button group styling */
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap:wrap; /* or wrap if needed */
}

/* Basic button styling */
.button {
  display: inline;
  align-items: center; /* Vertically center text and icon */
  justify-content: center; /* Horizontally align text and icon */
  gap: 8px; /* Space between text and SVG */
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  font-size: 24px; /* Adjust as needed */
  line-height: 1; /* Prevent text misalignment */
  width: auto; /* Allow the button to adjust size automatically */
  height: auto; /* Allow height to fit content */
}

/* Styling for individual buttons if needed */
.skip-button {
  background-color: #6c757d;
}

.help-button {
  background-color: #28a745;
}

/* SVG Styling */
.button svg {
  display: inline-block;
  vertical-align: middle; /* Ensures proper alignment */
  width: 24px;
  height: 24px;
  padding-left: 20px;
  fill: white; /* Matches text color */
}

.button:hover {
  background-color: #218838;
}

/* Specific classes for Help/Skip buttons to differentiate colors */
.help-button {
  background-color: #ffd819;
}

.help-button:hover {
  background-color: #cca000;
}

.skip-button {
  background-color: #dc3545;
}

.skip-button:hover {
  background-color: #c82333;
}

/* Confirmation summary styling */
.confirmation-summary {
  margin-bottom: 20px;
}

.confirmation-summary p {
  margin: 5px 0;
  font-size: 22px;
}
